.hollow-button{
border: 1px solid white;
padding: 12px 15px;  
color: white;
border-radius: 25px;
font-weight: 500;
font-size: 15px;
cursor: pointer;
z-index: 9999;
}

.filled-button{
background-color: #E23744;
color: white; 
padding: 12px 15px; 
border-radius: 25px;
font-size: 15px;
font-weight: bold;
cursor: pointer;
font-weight: 500;
}